.conterbox{_margin-top:7px;}
.about_aside{border:1px solid #cbcbcb; border-top-left-radius:3px;border-top-right-radius:3px;display:block; overflow:hidden;background:#fff;}
.about_conter{width:730px;}
.page_baner{height:157px;display:block;border:2px solid #dbdbdb;margin-top:15px;}
.page_title{height:30px;line-height:30px;font-size:16px;color:#232323;border-bottom:1px solid #cbcbcb; background:#dbdbdb;}
.title_pl18{padding-left:18px;}
.aside_listbox{padding:0 13px;}
section div.formbox ul li{margin:0 3px 15px 3px;}
.w163{width:163px;margin-bottom:7px;}
.w163 input{width:124px;}
.aside_listbox li{border-bottom:1px solid #cbcbcb;height:37px;line-height:37px;padding-left:5px;}
.aside_listbox li.none_line{border-bottom:none;}
.aside_listbox li a{display:block;vertical-align:middle;font-size:14px;color:#3c3c3c;}
/*.aside_listbox li a span{animation:ld_text 2s ease-in;-webkit-animation:ld_text 2s ease-in;cursor:pointer;}*/
.aside_listbox li a i{margin:11px 14px 0 10px;display:inline-block;float:right;}
.aside_listbox li a:hover {color:#d60b18;}
.aside_listbox li a:hover span{
	 -moz-animation:move 0.5s ease-in;
     -moz-animation-fill-mode:forwards;
	 -webkit-animation:move 0.5s ease-in;
	 -webkit-animation-fill-mode:forwards;}
.aside_listbox li a:hover i{
	display:inline-block;
	-moz-animation:aside 0.5s ease-in;
	-webkit-animation:aside 0.5s ease-in;
	-webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;background-position:-65px -22px;}
.aside_listbox li a.aside_btn_on{color:#d60b18;}
.aside_listbox li a.aside_btn_on i{display:inline-block;background-position:-65px -22px;}
.aside_arrow{background-position:-80px -22px;width:13px;height:13px;}
@-webkit-keyframes aside{
    0%{background-position:-96px -22px;-webkit-transform:rotate(0deg);}
   
    100%{background-position:-96px -22px;-webkit-transform:rotate(-90deg);}
}
@-moz-keyframes aside{
    0%{background-position:-96px -22px;-moz-transform:rotate(0deg);}
   
    100%{background-position:-96px -22px;-moz-transform:rotate(-90deg);}
}
@-webkit-keyframes ld_text{
	 0%{margin-bottom:-30px; opacity:0; }
	 100%{margin-bottom:0px; opacity:1; }
	}
	@-moz-keyframes ld_text{
	 0%{margin-bottom:-30px; opacity:0;}
	 100%{margin-bottom:0px; opacity:1;}
	}
	@-webkit-keyframes move{
		0%{
			-webkit-transform:scale(1);
			-webkit-transform:translate(0px);
          }
		100%{
			-webkit-transform:scale(1.2);
			-webkit-transform:translate(0px);
		}
		
		}
	@-moz-keyframes move{
		0%{
			-moz-transform:scale(1);
			-moz-transform:translate(0px);
          }
		100%{-moz-transform:scale(1.2);
			 -moz-transform:translate(0px);
		}
}
/*400电话*/
.aside_tel400_bg,.aside_tel_aboutbg{background:#e9e9e9;padding:5px 12px;display:block;width:184px;border:1px solid #cbcbcb;border-top:none;}
.aside_tel_aboutbg{border:none;border-top:1px solid #cbcbcb;padding:5px 13px;}
.aside_telicon{width:30px;}
.aside_number{width:145px;font-size:14px;font-weight:bold;}
.aside_number p{color:#d50207;font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
/*aboutconter*/
.title_text{border-bottom:2px solid #d60b18;color:#3c3c3c;font-size:22px;padding:0 0 5px 8px;}
.about_conter p{font-size:14px;color:#555555;line-height:24px;padding:0 5px;margin-bottom:25px; font-family:"微软雅黑";}
.about_conter p.f16{font-size:16px;line-height:30px;}
.about_conter p.page_number{font-size:12px;color:#777;padding-top:10px;margin-bottom:0px;}
.about_conter p.page_number span{color:#777;}
.about_conter img{float:right;margin:7px 0 0 10px;}
.mb30{margin-bottom:25px;}
.mt_mb28{margin:28px 0;}
/*企业证书*/
.scroll_zs{border:1px solid #cecece;padding:10px 13px;display:block;position:relative;with:697px;height:147px; overflow:hidden;}
.line_red{border-bottom:2px solid #d60b18;display:block;}
.line_red h2{font-family:"微软雅黑";font-size:14px;}
.scroll_zs ul{display:block;height:147px;position:absolute;left:3px;top:10px; z-index:200;}
.scroll_zs ul li{float:left;width:163px;height:147px;margin-left:14px;_margin-left:3px;}
.pic_prev,.pic_next{display:block;width:15px;height:147px;position:absolute;}
.pic_prev{left:0px;top:0px; z-index:260;}
.pic_next{right:0px;top:0px; z-index:260;}
/*photobox*/
.photobox{width:187px;height:225px;border:1px solid #d4d4d4;padding:7px 10px;margin:0 23px 10px 5px;display:inline-block;}
.about_conter p span{color:#d91920;}
/*万邦文化*/
.hy_wenhua_box{border:1px solid #cbcbcb;border-top-left-radius:3px;border-top-right-radius:3px; background:url(./../../img/index/hy_wenhua_bg.gif) repeat-x left top;height:291px;width:230px;padding:40px 0 0 0px;}
.ml14{margin-left:14px;}
.hy_wenhua_box h2{width:130px;height:90px;border-radius:130px;padding-top:40px;margin-left:45px;}
.hy_wenhua_box h2.red_bg{background:#b90713; *background:url(./../../img/index/hywenhu_bg.gif) no-repeat left top;_background:url(./../../img/index/hywenhu_bg.gif) no-repeat left top;background:url(./../../img/index/hywenhu_bg.gif) no-repeat left top\0\9;}
.hy_wenhua_box h2.yellow_bg{background:#d6a90b; *background:url(./../../img/index/hywenhu_bg2.gif) no-repeat left top;_background:url(./../../img/index/hywenhu_bg2.gif) no-repeat left top;background:url(./../../img/index/hywenhu_bg2.gif) no-repeat left top\0\9;}
.hy_wenhua_box h2.blue_bg{background:#0b5f67; *background:url(./../../img/index/hywenhu_bg3.gif) no-repeat left top;_background:url(./../../img/index/hywenhu_bg3.gif) no-repeat left top;background:url(./../../img/index/hywenhu_bg3.gif) no-repeat left top\0\9;}
.hy_wenhua_box h2 span,.hy_wenhua_box h2 i{color:#fff;text-align:center;display:block;width:130px; font-weight:bold;}
.hy_wenhua_box h2 span{font-size:18px;}
.hy_wenhua_box h2 i{font-size:28px; font-style:normal;}
.hy_wenhua_box p{font-size:17px;line-height:29px;text-align:center;}
/*联系我们*/
.mapbox{width:239px;height:117px;border:1px solid #d4d4d4;}
.mapbox img{margin:0px;}
.number_bg{width:31px;height:32px;display:inline-block;text-align:center;font-size:18px; font-family:Arial, Helvetica, sans-serif;color:#fff;line-height:30px; background-position:left -166px;margin-right:13px;margin-top:20px;}
.lianxi_text{width:430px;margin-top:20px;}
.lianxi_text dt{font-size:16px; font-family:"微软雅黑";color:#3c3c3c;}
.lianxi_text dd{font-size:14px; font-family:"宋体";line-height:20px;margin-top:10px;}
.addres_box li{border-bottom:1px solid #cbcbcb;padding-bottom:12px;margin-top:10px;}
/*合作伙伴*/
.hezuo_icon{background:url(./../../img/index/hz_icon_03.jpg) no-repeat left bottom;}
.xingye,.zt,.hx,.sc,.zh,.jianxin,.xz,.zy,.hb,.tj,.zr,.yd,.sz,.xh,.zl,.zhai,.zc,.yn,.wm,.xsd,.xb,.sd,.sx,.jx,.xm,.jg,.jy,.pa,.jl,.hr,.haixie,.fz,.zhtou,.zhtie,.zhxin,.zijin,.wk,.sh,.aj,.shanxi,.js,.xa,.wniu,.cfzc,.cfhy,.jyhl,.hcwl,.zxxc{display:block;width:120px;height:60px;}
.xingye{background-position:left top;}
.zt{background-position:-120px top;}
.hx{background-position:-240px 1px;}
.sc{background-position:-360px top;}
.zh{background-position:-485px 1px;}
.jianxin{background-position:-605px 1px;}

.xz{background-position:left -95px;}
.zy{background-position:-120px -95px;}
.hb{background-position:-240px -95px;}
.tj{background-position:-360px -95px;}
.zr{background-position:-480px -95px;}
.yd{background-position:-605px -95px;}

.sz{background-position:left -200px;}
.xh{background-position:-120px -200px;}
.zl{background-position:-240px -200px;}
.zhai{background-position:-360px -200px;}
.zc{background-position:-480px -200px;}
.yn{background-position:-605px -200px;}

.wm{background-position:left -296px;}
.xsd{background-position:-120px -300px;}
.xb{background-position:-240px -300px;}
.sd{background-position:-360px -300px;}
.sx{background-position:-480px -300px;}
.jx{background-position:-605px -300px;}

.xm{background-position:left -396px;}
.jg{background-position:-120px -400px;}
.jy{background-position:-240px -400px;}
.pa{background-position:-605px -400px;}
.jl{background-position:-365px -400px;}
.hr{background-position:-490px -400px;}

.haixie{background-position:left -490px;}
.fz{background-position:-120px -495px;}
.zhtou{background-position:-240px -494px;}
.zhtie{background-position:-605px -495px;}
.zhxin{background-position:-360px -495px;}
.zijin{background-position:-490px -495px;}

.wk{background-position:left -596px;}
.sh{background-position:-120px -600px;}
.aj{background-position:-240px -600px;}
.shanxi{background-position:-605px -597px;}
.js{background-position:-365px -600px;}
.xa{background-position:-490px -600px;}

.hz_icon{ background:url(./../../img/index/hz_icon0206.jpg) no-repeat left top;}
.wniu{ background-position:left -9px;}
.cfzc{ background-position:-122px -9px;}
.cfhy{ background-position:-243px -9px;}
.jyhl{ background-position:-364px -9px;}
.hcwl{ background-position:-485px -9px;}
.zxxc{ background-position:-607px -9px; }

.hezuo_box table td{height:100px; text-align:left;font-size:16px; font-family:"微软雅黑";color:#000; font-weight:bold;letter-spacing:3px;}
.hezuo_box table td img{text-align:center;}
.new_bg{ background:url(./../../img/index/zhici_bg.jpg) no-repeat left top;border:1px solid #dbdbd9;padding:50px 43px 45px 170px;}
